<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Show case User blog for Udacity Full Stack Web Developer Nanodegree">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    
    <title>{{ config.PROJECT }}</title>

    <link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="navbar-collapse collapse inverse" id="navbar-header">
      <div class="container">
        <div class="about">
          <h4>About</h4>
          <p class="text-muted">
            {{ config.PROJECT }} is created for Udacity assignment by 
            <a href="https://github.com/daniel3d">Daniel Yovchev</a>, please 
            <a href="https://github.com/daniel3d/items-catalog">download</a> and customize it as you wish!
            To find more about Full Stack Web Developer Nanodegree 
            <a href="https://www.udacity.com/">Visit Udacity website</a> or visit the 
            <a href="https://www.udacity.com/course/full-stack-web-developer-nanodegree--nd004">course page</a>.
            Enjoy!
          </p>
        </div>
        <div class="social">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://uk.linkedin.com/in/daniel-yovchev">Linkedin</a></li>
            <li><a href="https://www.facebook.com/DanielKrasimirovYovchev">Facebook</a></li>
            <li><a href="https://github.com/daniel3d">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar navbar-full navbar-static-top navbar-light bg-faded">
      <div class="container">
        <div class="collapse navbar-toggleable-xs">
          <a class="navbar-brand" href="/">{{ config.PROJECT.replace(" ", "") }}</a>
          <div class="nav navbar-nav float-xs-left">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
          </div>

          {% if not g.user %}
          <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Log in</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-success" href="{{ url_for('auth.signup') }}">Sign up</a>
            </li>
          </ul>
          {% endif %}

          {% if g.user %}
          <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
          </ul>
          {% endif %}

        </div>
      </div>
    </div>

    {% for category, msg in get_flashed_messages(with_categories=true) %}
        <div class="alert {{ category }}">{{ msg }}</div>
    {% endfor %}

    <!-- render content block -->
    {% block content %} {% endblock %}
    <!-- end content block -->

    <footer class="text-muted">
      <div class="container">
        <span class="logo">{{ config.PROJECT }}</span>
        <p>
          This website is created for Udacity assignment by 
          <a href="https://github.com/daniel3d">Daniel Yovchev</a>, please 
          <a href="https://github.com/daniel3d/items-catalog">download</a> and customize it as you wish!
        </p>
        <p>
          To find more about Full Stack Web Developer Nanodegree 
          <a href="https://www.udacity.com/">Visit Udacity website</a> or visit the 
          <a href="https://www.udacity.com/course/full-stack-web-developer-nanodegree--nd004">course page</a>.
        </p>
      </div>
    </footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</body>

</html>
