{% macro render_field(field) %}
    <div class="form-group {% if field.errors %}has-danger{% endif %}">
    {{ field.label(class="form-control-label") }}
    {% if field.errors %}
        {% set css_class = 'form-control form-control-danger' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
        {% for error in field.errors %}
            <div class="form-control-feedback">{{ error|e }}</div>
        {% endfor %}
    {% else %}
        {{ field(class='form-control ' + kwargs.pop('class', ''), **kwargs) }}
    {% endif %}
    </div>
{% endmacro %}