{% extends "layouts/main.html" %} 

{% block content %}
    
    {% if not g.user %}
      <section class="jumbotron text-xs-center main-background">
        <div class="container">
          <h1 class="jumbotron-heading">The Ultimate Restorant Catalog</h1>
          <p class="lead">Create your own resturants and menus or browse 1000+ of them.
          <br>Sing up and start generating content and dont forget make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="{{ url_for('auth.signup') }}" class="btn btn-lg single btn-outline-success">Sign up</a>
          </p>
        </div>
      </section>
      <br><br>
    {% else %}
      <div class="task-bar container ">
          <p class="text-muted float-xs-left">
            They are curently<br>
            10 Restorants and 120 items
          </p>
          <a class="btn btn-success float-xs-right" href="{{ url_for('restaurants.create') }}">
            <i class="fa fa-plus"></i> New Resturant
          </a>
      </div>
    {% endif %}

    <div class="album text-muted">
      <div class="container">
        <div class="row">
          <div class="card">
            <img src="http://placehold.it/356x280" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img src="http://placehold.it/356x280" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img src="http://placehold.it/356x280" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>

          <div class="card">
            <img src="http://placehold.it/356x280" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img src="http://placehold.it/356x280" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img src="http://placehold.it/356x280" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>

          <div class="card">
            <img src="http://placehold.it/356x280" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img src="http://placehold.it/356x280" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img src="http://placehold.it/356x280" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>

      </div>
    </div>
{% endblock %}