{% extends "layouts/auth.html" %} 

{% block content %}
<div class="auth-small auth-panel">
    {% from "forms/macros.html" import render_field %}
    <form method="POST" action="{{ url_for('auth.login') }}">
        <fieldset>
            {% for category, msg in get_flashed_messages(with_categories=true) %}
                <div class="alert {{ category }}">{{ msg }}</div>
            {% endfor %}

            {{ form.csrf_token }}
            {{ render_field(form.email, placeholder="example@gmail.com") }}
            {{ render_field(form.password, placeholder="***********") }}
            <div class="checkbox">
              <label>
                <input type="checkbox" class="i-checks" checked> &nbsp; Remember me
              </label>
              <a class="float-xs-right" href="">Forgotten password?</a>
            </div>
            <button class="btn btn-success btn-block">Log in</button>
            <a href="{{ url_for('auth.oauth_authorize', provider='facebook') }}" class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Sign in with Facebook
            </a>
            <a href="{{ url_for('auth.oauth_authorize', provider='twitter') }}" class="btn btn-block btn-social btn-twitter">
                <span class="fa fa-twitter"></span> Sign in with Twitter
            </a>
            <a href="{{ url_for('auth.oauth_authorize', provider='google') }}" class="btn btn-block btn-social btn-google">
                <span class="fa fa-google"></span> Sign in with Google
            </a>
            <a class="btn btn-secondary btn-block" href="{{ url_for('auth.signup') }}">New here? Sign up</a>
        </fieldset>
    </form>
</div>
{% endblock %}