{% extends "layouts/auth.html" %}

{% block content %}
<div class="auth-small auth-panel">
	{% from "forms/macros.html" import render_field %}
	<form method="POST" action="{{ url_for('auth.signup') }}" class="form">
		<fieldset>
            {% for category, msg in get_flashed_messages(with_categories=true) %}
                <div class="alert {{ category }}">{{ msg }}</div>
            {% endfor %}

			{{ form.csrf_token }}
			{{ render_field(form.name, placeholder="Your Name") }}
			{{ render_field(form.email, placeholder="example@gmail.com") }}
			{{ render_field(form.password, placeholder="***********") }}
			{{ render_field(form.confirm, placeholder="***********") }}
			<button class="btn btn-success btn-block" type="submit">
				Sign up
			</button>
			<a class="btn btn-secondary btn-block" href="{{ url_for('auth.login') }}">Already have account? Log in</a>
		</fieldset>
	</form>
</div>
{% endblock %}